<!-- modal layout -->
<div class="modal">
    <div class="modal-overlay"></div>

    <div class="form">

        <div class="tab-header">
            <button class="btn dn" [class.btn-light1]="flag" type="button" (click)="apply('login')">Đăng nhập</button>
            <button class="btn2 dk" [class.btn-light2]="flag" type="button" (click)="apply('reg')">Đăng ký</button>
        </div>
        <!-- ----------------authen form------------------->
        <div class="tab-content">
            <div class="auth-form" *ngIf="flag" [formGroup]="loginForm">
                <div class="authen-form_header-down">
                    <div class="auth-form_heading-down">Đăng nhập bằng Tên/Email</div>
                    <div class="auth-form_switch-down">Đăng nhập với</div>
                </div>
                <div class="auth-form_form ">
                    <div class="auth-form_form-login">
                        <div class="auth-form_group-left">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input [(ngModel)]="accounts[0].name" type="text" class="auth-form_input"
                                placeholder="nhập tên" formControlName="name">
                            <span class="text-danger"
                                *ngIf="loginForm.controls.name.errors && loginForm.controls.name.touched"><br>Tên là bắt
                                buộc</span>
                        </div>
                        <div class="auth-form_group-left">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input [(ngModel)]="accounts[0].password" type="password" class="auth-form_input"
                                placeholder="nhập mật khẩu" formControlName="password">
                            <span class="text-danger"
                                *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched"><br>Mật
                                khẩu ít nhất 6 ký tự là bắt buộc</span>
                        </div>
                        <div class="auth-form_group-left">
                            <a mat-button [routerLink]="['/home-page']" [routerLinkActive]="'active-link'">
                                <button class="auth-form_button" (click)="login()">Đăng nhập</button>
                            </a>
                        </div>
                        <a href="" class="auth-form_text">Quên tài khoản hoặc mật khẩu ?</a>
                    </div>
                    <div class="auth-form_form-control">
                        <div class="auth-form_group-right1">
                            <a href="" class="button_fb">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <span class="button_fb-name">Facebook</span>
                            </a>
                        </div>
                        <div class="auth-form_group-right2">
                            <a href="" class="button_gg">
                                <i class="fa fa-google" aria-hidden="true"></i>
                                <span class="button_gg-name">Google</span>
                            </a>
                        </div>
                        <div class="auth-form_group-right3">
                            <a href="" class="button_ap">
                                <i class="fa fa-apple" aria-hidden="true"></i>
                                <span class="button_ap-name">Apple</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------End authen form--------------------------- -->
            <!-- ----------------authen Sign up ------------------->
            <div class="auth-form" *ngIf="!flag" [formGroup]="regForm">
                <div class="authen-form_header-down">
                    <div class="auth-form_heading-down">Tạo tài khoản BlogNew Để sử dụng đầy đủ tính năng đọc báo và
                        tham gia cộng đồng</div>
                    <div class="auth-form_switch-down">Tạo tài khoản với</div>
                </div>
                <div class="auth-form_form">
                    <div class="auth-form_form-login">
                        <div class="auth-form_group-left">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input [(ngModel)]="accounts[0].name" type="text" class="auth-form_input"
                                placeholder="Nhập tên" formControlName="name">
                            <span class="text-danger"
                                *ngIf="regForm.controls.name.errors && regForm.controls.name.touched"><br>Tên là bắt
                                buộc</span>
                        </div>
                        <div class="auth-form_group-left">
                            <i class="fa fa-envelope" aria-hidden="true" style="padding-left:15px"></i>
                            <input [(ngModel)]="accounts[0].email" type="text" class="auth-form_input"
                                placeholder="Nhập email/sdt" formControlName="email">
                            <span class="text-danger"
                                *ngIf="regForm.controls.email.errors && regForm.controls.email.touched"><br>Email / số
                                điện thoại di động không hợp lệ</span>
                        </div>
                        <div class="auth-form_group-left">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <a class="eye"><i class="fa fa-eye-slash" aria-hidden="true"
                                    (click)="showHidden()"></i></a>
                            <input [(ngModel)]="accounts[0].password" [type]="passwordType" class="auth-form_input"
                                placeholder="Tạo mật khẩu" formControlName="password">
                            <span class="text-danger"
                                *ngIf="regForm.controls.password.errors && regForm.controls.password.touched"><br>Mật
                                khẩu ít nhất 6 ký tự là bắt buộc</span>
                        </div>
                        <div class="auth-form_group-left">
                            <button class="auth-form_button" [routerLink]="['/login']">Tạo tài khoản</button>
                        </div>
                    </div>
                    <div class="auth-form_form-control">
                        <div class="auth-form_group-right1">
                            <a href="" class="button_fb">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <span class="button_fb-name">Facebook</span>
                            </a>
                        </div>
                        <div class="auth-form_group-right2">
                            <a href="" class="button_gg">
                                <i class="fa fa-google" aria-hidden="true"></i>
                                <span class="button_gg-name">Google</span>
                            </a>
                        </div>
                        <div class="auth-form_group-right3">
                            <a href="" class="button_ap">
                                <i class="fa fa-apple" aria-hidden="true"></i>
                                <span class="button_ap-name">Apple</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------End authen form--------------------------- -->
        </div>
    </div>

</div>
<!-- End modal layout -->