.modal {
    position: fixed;
    top: 0px;
    display: flex;
    background-image: linear-gradient(#F5EDED, #FAAEAE);
    .modal-overlay {
        position: absolute;
        width: 600px;
        height: 400px;
        background-image: url('./assets/404.png');
        top: 22px;
        border: none;
    }
    .button-row {
        position: absolute;
        text-align: center;
        top: 500px;
        width: 100%;
    }
}

.image {
    min-width: 600px;
    max-width: 290px;
    width: 100%;
    margin: auto;
}