.modal {
    position: fixed;
    top: 0px;
    display: flex;
    background-image: linear-gradient(#F5EDED, #FAAEAE);
    .modal-overlay {
        position: absolute;
        width: 600px;
        height: 400px;
        background-image: url('./assets/404.png');
        left: 480px;
        top: 80px;
        border: none;
    }
    .button-row {
        position: absolute;
        text-align: center;
        left: 650px;
        top: 550px;
    }
}