<div class="tool-bar {{themeColor}}" role="main">
  {{themeColor}}
  <div class="title">
      <h1><b>1.Thông tin tài khoản :</b></h1>
      <div class="center">
        <h2>Đổi màu nền : </h2>
        <span> <input type="checkbox" id="balck" (click)="discoloration('balck')"> <h2>Tối</h2> </span>
        <span> <input type="checkbox" id="white" (click)="discoloration('white')"> <h2>Sáng</h2> </span>
      </div>
  </div>
  <div class="title">
      <h1><b>2 : Thông tin về app :</b></h1>
      <div class="center">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <a href="https://github.com/Group6-FrontEnd/Project/issues">Xem thông tin cài đặt app tại đây</a>
      </div>
  </div>
  <div class="title1">
    <button class="auth-form_button" (click)="removeUser()"><b>Xóa tài khoản</b></button>
  </div>
</div>