<mat-toolbar color="primary" class="nav-height header">
    <mat-toolbar-row>
        <button mat-icon-button>
      <mat-icon (click)="toggleSideNav()">menu</mat-icon>
    </button>
        <div class="title">
            <h1>BlogNew</h1>
            <span class="vnexpress">vnexpress</span>
        </div>
        <span class="example-spacer"></span>
        <input type="text" name="" id="" class="seach">
        <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
        <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>Đăng nhập
    </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Chỉnh sửa thông tin</span>
      </button>
            <button mat-menu-item>
        <mat-icon>https</mat-icon>
        <span>Đổi mật khẩu</span>
      </button>
            <button mat-menu-item>
        <mat-icon>feedback</mat-icon>
        <span>Đánh giá và phản hồi</span>
      </button>
            <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Đăng xuất</span>
      </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>