.header {
    background-color: #f3ebeb;
    color: black;
}

.vnexpress {
    position: relative;
    font-size: 12px;
    padding: 0px;
    font-weight: lighter;
    top: -13px;
}

.title {
    padding-top: 30px;
    padding-left: 2px;
    h1 {
        font-size: 30px;
    }
}

.header-right {
    padding-right: 10px;
}

.noti {
    border: none;
    background-color: transparent;
    position: relative;
    top: 4px;
}

.spacer {
    flex: 1 1 auto;
}

.seach {
    border-radius: 20px;
    position: relative;
    left: 35px;
    height: 25px;
    width: 250px;
    top: 3px;
}

.avata-imageMd {
    width: 40px;
    height: 40px;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid black;
        font-size: 10px;
    }
}

.avata-image {
    @extend .avata-imageMd;
    float: left;
}

:focus-visible {
    outline: none;
}

.menu-sublist a {
    margin: 0;
    justify-content: space-between;
    flex: 1;
    padding: 0;
}