<mat-toolbar color="primary" class="nav-height header">
    <mat-toolbar-row>
        <button mat-icon-button>
      <mat-icon (click)="toggleSideNav()">menu</mat-icon>
    </button>
        <div class="title">
            <h1>BlogNew</h1>
            <span class="vnexpress">vnexpress</span>
        </div>
        <span class="example-spacer"></span>
        <input type="text" name="" id="" class="seach">
        <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
        <span *ngIf="name ==='Đăng nhập'; then thenLogin else esleLogin "></span>
        <ng-template #thenLogin>
            <a *ngIf="name ==='Đăng nhập'" mat-button [routerLink]="['/login']" [routerLinkActive]="'active-link'">
                <mat-icon>account_circle</mat-icon><span>&nbsp;{{name}}</span>
            </a>
        </ng-template>
        <ng-template #esleLogin>
            <button mat-button [matMenuTriggerFor]="menu">
        <img src="https://i.pinimg.com/236x/88/17/e2/8817e2e498c18da5942df9fdba279e04.jpg" alt="">&nbsp; &nbsp;{{name}}
      </button>
            <mat-icon matBadge="2" matBadgeColor="warn">notifications_active</mat-icon>
        </ng-template>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Chỉnh sửa thông tin</span>
      </button>
            <button mat-menu-item>
        <mat-icon>https</mat-icon>
        <span>Đổi mật khẩu</span>
      </button>
            <button mat-menu-item>
        <mat-icon>feedback</mat-icon>
        <span>Đánh giá và phản hồi</span>
      </button>
            <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Đăng xuất</span>
      </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>