<div class="tool-bar">
    <div class="title">
        <h1><b>Thông tin tài khoản</b></h1>
    </div>
    <div class="example-container" class="form">
        <label><h2><b>Tên của bạn: </b></h2>
            </label>
        <br>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Tên</mat-label>
            <input matInput #message maxlength="256" value={{name}}>
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
        <br>
        <label><h2><b>Email: </b></h2></label>
        <p>Mọi thông tin liên lạc sẽ gửi vào địa chỉ này</p>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email: abc@gmail.com</mat-label>
            <input matInput [formControl]="email" required #emails maxlength="256">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            <mat-hint align="end">{{emails.value.length}} / 256</mat-hint>
        </mat-form-field>
    </div>
    <label class="avata-text"><h2><b>Ảnh đại diện: </b></h2></label>
    <br>
    <div class="avata-image">
        <img src="https://i.pinimg.com/236x/88/17/e2/8817e2e498c18da5942df9fdba279e04.jpg" alt="">
        <mat-icon [matMenuTriggerFor]="menu">edit</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
        <mat-nav-list class="menu-sublist">
            <a mat-list-ite>
                <span>Tải ảnh lên...</span>
            </a>
        </mat-nav-list>
        <mat-nav-list class="menu-sublist">
            <a mat-list-ite>
                <span>Gỡ bỏ hình</span>
            </a>
        </mat-nav-list>
    </mat-menu>
    <div class="button-row">
        <a href="">
            <button mat-raised-button color="warn">Lưu thay đổi</button>
        </a>
    </div>
</div>