<div class="tool-bar">
    <div class="title">
        <p>{{responseObject.feed.title}}</p>
    </div>
    <div class="tool">
        <button class="btn" (click)='getJson()'>
            <mat-icon>autorenew</mat-icon>
        </button>
        <div ngbDropdown class="d-inline-block">
            <button class="btn" id="dropdown" ngbDropdownToggle>
                <mat-icon>sort</mat-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown" class='tool-panel'>
                <div style="font-weight: 500;">View:</div>
                <div style="font-weight: 300;">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="viewCheck" id="card"
                            [checked]='view === "Card"' value="Card" [(ngModel)]='view'>
                        <label class="form-check-label" for="card">
                            Card
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="viewCheck" id="magazine"
                            [checked]='view === "Magazine"' value="Magazine" [(ngModel)]='view'>
                        <label class="form-check-label" for="magazine">
                            Magazine
                        </label>
                    </div>
                </div>
                <div style="font-weight: 500;">Sort:</div>
                <div style="font-weight: 300;">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortCheck" id="date" value="Date"
                            [checked]='sort === "Date"' [(ngModel)]='sort'>
                        <label class="form-check-label" for="date">
                            Date
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortCheck" id="title" value="Title"
                            [checked]='sort === "Title"' [(ngModel)]='sort'>
                        <label class="form-check-label" for="title">
                            Title
                        </label>
                    </div>
                </div>
                {{view}}
                <br /> {{sort}}
            </div>
        </div>
    </div>
</div>

<div class='body' *ngIf='responseObject.status === "ok"'>
    <div *ngFor='let item of responseObject.items' [style.width]="view === 'Card' ? '18rem' : '100%'" class="card">
        <div class="buttons">
            <div [style.width]="view === 'Card' ? '40%' : '20%'" class="buttons-border">
                <a href="#" class="button">
                    <mat-icon>turned_in_not</mat-icon>
                </a>
                <a href="#" class="button">
                    <mat-icon>done</mat-icon>
                </a>
                <a href="#" class="button">
                    <mat-icon>clear</mat-icon>
                </a>
            </div>
        </div>

        <div class="content">
            <a target="_blank" href="{{item.link}}" [style.width]="view === 'Card' ? '' : '15%'"
                [style.height]="view === 'Card' ? '' : '120px'" [style.float]="view === 'Card' ? '' : 'left'">
                <img [style.height]="view === 'Card' ? '' : '120px'" class="card-img-top" src="{{item.thumbnail}}"
                    alt="Card image">
            </a>

            <div [style.width]="view === 'Card' ? '' : '85%'"
                [style.padding]="view === 'Card' ? '' : '0px 10px 0px 10px'"
                [style.float]="view === 'Card' ? '' : 'right'" class="card-body">
                <p class="card-title">{{item.title}}</p>
                <p class="card-subtitle">{{item.pubDate}}</p>
                <p class="card-text">{{item.content}}</p>
            </div>
        </div>
    </div>

    <div style="height: 150px; width: 100%;"></div>
</div>



<!-- https://material.angular.io/assets/img/examples/shiba2.jpg -->